* {

    margin: 0;
    padding: 0;
}
#nav {
    height: 8vh;
    width: 100vw;
    box-shadow: 0px 0px 10px black;
    position: fixed;
    background-color: lightgray;
    text-align: center;
    top: 0;
}

a:link { 
    
    text-decoration: none;
    color: black;
    font-weight: bolder;

}
span.nav-item {
        
    margin: 4%;
    top: 30px;
    top: 35%;
    position: relative;

}
a:hover {
    color: brown;
    text-decoration: underline;
}
#content {
    margin-top: 100px;
}
br {
    margin: 50px;
}

