* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial, sans-serif;
 }

 header {
     width: 100vw;
     height: 80px;
     border: 1px solid black;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    >.end {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;
        >button {
          border: none;
        background-color: transparent;
           }
           > .login {
               border: 2px blue solid;
               color: blue;
               background-color: transparent;
               height: 90%;
               width: 80%;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-evenly;
               > i {
                   font-size: 20px;
               }
               >div {
                font-size: 20px; 
               }
           }
       
    }
    >.center {
        height: 40px;
        gap: 0;
        align-self: center;
        display: flex;
        > #text {
            width: 0;
        }
        > #search {
        width: 50vw;
        border: 1px solid lightgray;
        height: 40px;
        }
        .search {
            width: 50px;
        border: 1px solid lightgray;
        height: 40px;
        }
    }
    > .start {
        width: 10%;
        display: flex;
        flex-direction: row;
        > button {
            background-color: transparent;
            border: none;
            margin: 10px;
        }
        > .logo {
            display: flex;
            flex-direction: row;
            align-self: center;
            margin: 10px;
            > i {
                color: red;
            }            
            >.name {
                display: flex;
                align-self: center;
            }
            > .pl {
               font-size: 10px;
               color: gray;
            }
        }
    }
    }

    // GÅOWNA STRONA :
    li {
        padding: 10px;
    }
    ul {
        // border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    #body {
        display: grid;
        grid-template-columns: 1fr 4fr;
        #left-section {
            width:20vw ;
            // position: fixed;
            // display: grid;
            // grid-template-rows: repeat(7,1fr) ;
            height: 100vh;
            display: flex;
            flex-direction: column;
            
            >.link-group {
               
                padding: 15px;
                 >.header {
                     font-size: 20px;
                     color: gray;
                 }
                > ul {
                    display: flex;
                    list-style: none;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100%;
                }
            }
            >.login-info {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 15px;
                >.login {
                    margin-top: 10px;
                    width: 80%;
                    border: 2px blue solid;
               color: blue;
               background-color: transparent;
               align-self: flex-start;
                }
                >p {
                    text-align: left;
                    width: 60%;
                    align-self: flex-start;
                }
            }

        }
        #main-section {
            width: 80vw;
            >.main-movie-section:nth-child(2) {
               
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2,1fr);
                border: solid black 1px;
            }
            >.main-movie-section:nth-child(3) {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2,1fr);
                border: solid black 1px;
                >.header {
                    grid-column: span 4;
                }
            }
            >.main-movie-section:last-child {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2,1fr);
                border: solid black 1px;
                
            }
            >.buttons {
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 30px 0;
                
                
                > button {
                    width: 12.5%;
                    height: 90%;
                    border-radius: 10px;
                }
                >.active {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
.movie {
    display: flex;
    flex-direction: column;
    
    >.movie-info {
        width: 100%;
    }
    >.avatar {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: gray;
        
    }
    > .movie-frame {
        width: 200px;
        height: 100px;
        background-color: pink;
    }
}

.main-movie-section {
    .move {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}