#outer>div.box:nth-child(1) {
    background-color: grey;
    width: 100px;
    height: 100px;
}
#outer>div.box:nth-child(2) {
    background-color: violet;
    width: 100px;
    height: 100px;
}
#outer>div.box:nth-child(3) {
    background-color: yellow;
    width: 100px;
    height: 100px;
}
    #outer {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.box {
    text-align: center;
    padding-top: 10px;
}