body { 
   display: inline;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ececec;
  }
  
  .content {
    margin:auto;
    width: 400px;
  }
  
  h2 {
    color: #045137;
  }
  
  .contact {
    box-shadow: 0px 0px 10px #a5a5a5;
  }
  
  .name {
  
    font-weight: bolder;
    color: white;
    display: block;
    text-align: left;
    background-color: #045137;
  }
div {
  
    margin-top: 50px;
}
.mail {
font-weight: bolder;    
font-style: italic;
color: #045137;
    text-transform:uppercase;
    display: block;
    text-align: left;
}

.phone {
    display: block;
    text-align: left;
}
.address > span:nth-child(1) {
    color: #045137;
    display: block;
    text-align: right;
}

.address > span:nth-child(2) {
    color: black ;
    display: block;
    text-align: right;
}
.address {

       display: block;
    text-align: right;
}

span {
    padding: 5px;
}
.info {

    margin: 10px;
}